:root{
  /* cyclopes variables */
  --cyclopes-background-color: #191500;
  --cyclopes-primary-color: #E8910B;
  --cyclopes-secondary-color: #408d9e;
  --cyclopes-light-color: #EDFFFF;
  --cyclopes-dark-green-color: #283327;

  /* amplify styles variables*/
  --amplify-primary-color: var(--cyclopes-primary-color);
  --amplify-background-color: var(--cyclopes-background-color);
  --amplify-secondary-color: var(--cyclopes-secondary-color);
  --amplify-grey: var(--cyclopes-light-color);
}

amplify-authenticator{
  border: 1px solid var(--cyclopes-secondary-color);
  border-radius: 4px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
